* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}


a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
    text-align: center;
    font-size: 0;
}

li{
    position: relative;
    border-radius: 15px;
    font-size: 14px;
    transition: background-color 0.2s;
}

li:hover{
    background-color: rgb(67, 183, 255);
}

nav> ul> li{
    padding: 10px 50px;
    background-color: darkblue;
    display: inline-block;
}

/* drop down */

nav > ul> li> ul> li,
nav > ul> li> ul> li> ul >li{
    border-radius: 15px;
    background-color: darkblue;
    padding: 10px 44px;
    white-space: nowrap;
}

nav > ul> li> ul{
    position: absolute;
    left: 0;
    top: 100%;
    
}

nav > ul> li> ul{
    display: none;
}

nav > ul> li> ul> li> ul{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

nav ul li:nth-child(2) ul li:nth-child(3):hover > ul{
    display: block;
}

nav ul li:nth-child(2):hover > ul{
    display: block;
}